<p-toast position="top-right" [baseZIndex]="9999" [preventOpenDuplicates]="true" />
<div class="etiquetas-pagina">
    <div class="etiquetas-panel flex flex-column justify-content-center align-items-center">
        <h2 class="titulo-seccion"><i class="pi pi-user text-5xl"></i> Mi Cuenta</h2>
        <div class="etiquetas-contenido">
            <p>Tus credenciales de inicio de sesión y el nombre mostrado en los informes.</p>

            <div class="flex flex-column align-items-center gap-3 p-2">

                <div class="flex flex-row gap-4 align-items-center form-user">
                    <ng-container *ngIf="edicion == false">
                        <div class="flex flex-column gap-3">
                            <div class="flex flex-column gap-1">
                                <label class="font-semibold">Nombre</label>
                                <p>{{ userData.nombre }}</p>
                            </div>
                            <div class="flex flex-column gap-1">
                                <label class="font-semibold">Correo Electrónico</label>
                                <p>{{ userData.correo }}</p>
                            </div>

                        </div>
                        <div class="delimitador"></div>
                        <div class="flex flex-column gap-3">
                            <div class="flex flex-column gap-1">
                                <label class="font-semibold">Contraseña</label>
                                <p>{{ userData.contrasena }}</p>
                            </div>
                            <div class="flex flex-column gap-1">
                                <label class="font-semibold">Rol</label>
                                <p>{{ userData.rol ?? 'Sin rol' }}</p>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="edicion == true">
                        <div class="flex flex-column gap-3">
                            <div class="flex flex-column gap-1">
                                <label class="font-semibold">Nombre</label>
                                <input type="text" pInputText [(ngModel)]="datosEditados.nombre" class="p-2" />
                            </div>
                            <div class="flex flex-column gap-1">
                                <label class="font-semibold">Correo Electrónico</label>
                                <input type="text" pInputText [(ngModel)]="datosEditados.correo" class="p-2" />
                            </div>
                        </div>
                        <div class="delimitador"></div>
                        <div class="flex flex-column gap-3">
                            <div class="flex flex-column gap-1">
                                <label class="font-semibold">Contraseña</label>
                                <p-password [toggleMask]="true" weakLabel="muy simple"
                                    mediumLabel="medianamente complejo" strongLabel="Contraseña fuerte"
                                    [(ngModel)]="datosEditados.contrasena" />
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="flex flex-row gap-4 mt-2">
                    <ng-container *ngIf="edicion == false">
                        <button pButton label="Editar" severity="info" type="submit" class="boton-personalizado"
                            (click)="editarMiembro(true)">
                        </button>
                    </ng-container>
                    <ng-container *ngIf="edicion == true">
                        <button pButton label="Guardar" severity="success" type="submit" class="boton-personalizado"
                        (click)="guardarCambios()" >
                        </button>
                        <button pButton label="Cancelar" severity="warning" type="button" class="boton-personalizado"
                            (click)="editarMiembro(false)"></button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>