<div class="clientes-pagina">
  <div class="clientes-panel">
    <h2 class="titulo-seccion">Clientes</h2>

    <div class="clientes-contenido">

      <div class="barra-herramientas" *ngIf="mostrarLista">
        <div class="busqueda-filtros">
          <p-dropdown [options]="opcionesFiltro" [(ngModel)]="filtroSeleccionado" (onChange)="filtrarClientes()"
            placeholder="Mostrar activo">
          </p-dropdown>

          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="textoBusqueda" (input)="filtrarClientes()"
              placeholder="Buscar por nombre" class="input-busqueda" />
          </span>
        </div>

        <div class="grupo-input">
          <input type="text" pInputText [(ngModel)]="nuevoClienteNombre" placeholder="Añadir nuevo cliente"
            class="input-personalizado" />
          <button pButton type="button" label="Añadir" class="boton-personalizado" (click)="agregarCliente()">
          </button>
        </div>
      </div>

      <p-card styleClass="card-tabla-estandar">

        <div class="contenedor-vacio" *ngIf="!mostrarLista">
          <h1 class="titulo-principal">
            Añadir clientes para organizar tus proyectos
          </h1>
          <p class="subtitulo">
            Asignar clientes a proyectos y seguir el progreso de cada cliente.
          </p>

          <div class="grupo-input">
            <input type="text" pInputText [(ngModel)]="nuevoClienteNombre" placeholder="Añadir nuevo cliente"
              class="input-personalizado" (keyup.enter)="agregarCliente()" />
            <button pButton type="button" label="AÑADIR" class="boton-personalizado" (click)="agregarCliente()">
            </button>
          </div>
        </div>

        <div class="contenedor-tabla" *ngIf="mostrarLista">
          <p-table #dt [value]="clientesFiltrados" [scrollable]="true" scrollHeight="450px" class="tabla-personalizada">

            <ng-template pTemplate="header">
              <tr class="cabecera-gris">
                <th style="width: 4rem">
                  <p-checkbox [binary]="true"></p-checkbox>
                </th>
                <th>NOMBRE</th>
                <th>DIRECCIÓN</th>
                <th>MONEDA</th>
                <th style="width: 8rem">
                  <p-button styleClass="bg-green-700 border-green-500 text-white p-button-sm 
                            hover:bg-green-700 h9over:border-green-600" label="Exportar" icon="pi pi-file-excel"
                                (onClick)="exportar()">
                  </p-button>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-cliente>
              <tr>
                <td style="width: 4rem"><p-checkbox [binary]="true"></p-checkbox></td>

                <ng-container *ngIf="clienteEnEdicion?.id !== cliente.id">
                  <td class="font-bold">{{ cliente.nombre }}</td>
                  <td>{{ cliente.direccion || '-' }}</td>
                  <td>{{ cliente.moneda || '-' }}</td>
                  <td class="acciones-celda">
                    <button pButton icon="pi pi-pencil" class="p-button-text p-button-secondary"
                      (click)="editarCliente(cliente)">
                    </button>
                    <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                      (click)="eliminarCliente(cliente.id)">
                    </button>
                  </td>
                </ng-container>

                <ng-container *ngIf="clienteEnEdicion?.id === cliente.id">
                  <td>
                    <input pInputText [(ngModel)]="clienteEnEdicion!.nombre" />
                  </td>
                  <td>
                    <input pInputText [(ngModel)]="clienteEnEdicion!.direccion" placeholder="Escribe la dirección" />
                  </td>
                  <td>
                    <p-dropdown appendTo="body" [options]="monedas" [(ngModel)]="clienteEnEdicion!.moneda"
                      placeholder="Seleccionar moneda">
                    </p-dropdown>
                  </td>
                  <td class="acciones-celda">
                    <button pButton icon="pi pi-check" class="p-button-text p-button-success"
                      (click)="guardarEdicion()">
                    </button>
                    <button pButton icon="pi pi-times" class="p-button-text p-button-secondary"
                      (click)="cancelarEdicion()">
                    </button>
                  </td>
                </ng-container>

              </tr>
            </ng-template>

          </p-table>
        </div>

      </p-card>
    </div>
  </div>
</div>