<p-toast position="top-right" [baseZIndex]="9999"
  [preventOpenDuplicates]="true" />
<div class="clientes-pagina">
  <div class="clientes-panel">
    <h2 class="titulo-seccion">Clientes</h2>

    <div class="clientes-contenido">


      <p-card styleClass="card-tabla-estandar">

        <div class="contenedor-vacio" *ngIf="!mostrarLista">
          <h1 class="titulo-principal">
            Añadir clientes para organizar tus proyectos
          </h1>
          <p class="subtitulo">
            Asignar clientes a proyectos y seguir el progreso de cada cliente.
          </p>

          <div class="grupo-input">
            <input type="text" pInputText [(ngModel)]="nuevoClienteNombre" placeholder="Añadir nuevo cliente"
              class="input-personalizado" (keyup.enter)="agregarCliente()" />
            <button pButton type="button" label="AÑADIR" class="boton-personalizado" (click)="agregarCliente()">
            </button>
          </div>
        </div>

        <div *ngIf="mostrarLista">
          <div class="barra-herramientas">
            <div class="busqueda-filtros">
              <p-dropdown [options]="opcionesFiltro" [(ngModel)]="filtroSeleccionado" (onChange)="filtrarClientes()"
                placeholder="Mostrar activo">
              </p-dropdown>

              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="textoBusqueda" (input)="filtrarClientes()"
                  placeholder="Buscar por nombre" class="input-busqueda" />
              </span>
            </div>

            <div class="grupo-input">
              <input type="text" pInputText [(ngModel)]="nuevoClienteNombre" placeholder="Añadir nuevo cliente"
                class="input-personalizado" />
              <button pButton type="button" label="Añadir" class="boton-personalizado" (click)="agregarCliente()">
              </button>
            </div>
          </div>

          <div class="surface-100 p-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
            <span class="text-xs font-bold text-500 ml-2 uppercase">Clientes</span>
            <p-button styleClass="bg-green-700 border-green-500 text-white p-button-sm 
                            hover:bg-green-700 h9over:border-green-600" label="Exportar" icon="pi pi-file-excel"
              (onClick)="exportar()">
            </p-button>
          </div>
          <p-table #dt [value]="clientesFiltrados" [scrollable]="true" scrollHeight="450px">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5%" class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                  <p-checkbox [binary]="true"></p-checkbox>
                </th>
                <th style="width: 25%"
                  class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                  Nombre</th>
                <th style="width: 30%"
                  class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                  Dirección</th>
                <th style="width: 20%"
                  class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                  Moneda</th>
                <th style="width: 20%"
                  class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
              <tr>
                <ng-container *ngIf="clienteEnEdicion?.id !== cliente.id">
                  <td style="width: 4rem">
                    <p-checkbox [binary]="true"></p-checkbox>
                  </td>
                  <td>{{ cliente.nombre }}</td>
                  <td>{{ cliente.direccion || '-' }}</td>
                  <td>{{ cliente.moneda || '-' }}</td>
                  <td class="acciones-celda">
                    <button pButton icon="pi pi-pencil" class="p-button-text p-button-secondary"
                      (click)="editarCliente(cliente)">
                    </button>
                    <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                      (click)="eliminarCliente(cliente.id)">
                    </button>
                  </td>
                </ng-container>
                <ng-container *ngIf="clienteEnEdicion?.id === cliente.id">
                  <td>
                    <p-checkbox [binary]="true"></p-checkbox>
                  </td>
                  <td>
                    <input pInputText [(ngModel)]="clienteEnEdicion!.nombre" />
                  </td>
                  <td>
                    <input pInputText [(ngModel)]="clienteEnEdicion!.direccion" placeholder="Escribe la dirección" />
                  </td>
                  <td>
                    <p-dropdown appendTo="body" [options]="monedas" [(ngModel)]="clienteEnEdicion!.moneda"
                      placeholder="Seleccionar moneda">
                    </p-dropdown>
                  </td>
                  <td class="acciones-celda">
                    <button pButton icon="pi pi-check" class="p-button-text p-button-success"
                      (click)="guardarEdicion()">
                    </button>
                    <button pButton icon="pi pi-times" class="p-button-text p-button-secondary"
                      (click)="cancelarEdicion()">
                    </button>
                  </td>
                </ng-container>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>
  </div>
</div>