<p-toast position="top-right" [baseZIndex]="9999" [preventOpenDuplicates]="true" />
<div class="clientes-pagina">
    <div class="clientes-panel ">
        <div class="flex flex-column  sm:flex-row justify-content-between align-items-center p-4 gap-3">
            <h2 class="titulo-seccion m-0">Proyectos</h2>
        </div>

        <div class="clientes-contenido">
            <p-card styleClass="card-tabla-estandar">
                <div class="contenedor-vacio" *ngIf="!mostrarLista">
                    <h1 class="titulo-principal">
                        Añadir Proyectos para organizar mejor tus registros
                    </h1>
                    <p class="subtitulo">
                        Asigna registros a los proyectos para optimizar la colaboración.
                    </p>

                    <div class="flex flex-column gap-3 mt-2" style="width: 300px;">
                        <div class="flex flex-column gap-1">
                            <label class="text-sm font-medium text-color-secondary">Nombre del proyecto</label>
                            <input pInputText placeholder="Introduce el nombre de proyecto"
                                [(ngModel)]="nuevoProyecto.nombre" class="w-full" />
                        </div>

                        <div class="flex flex-column gap-1">
                            <label class="text-sm font-medium text-color-secondary">Cliente</label>
                            <p-dropdown [options]="clientes" optionLabel="nombre" [(ngModel)]="nuevoProyecto.cliente"
                                placeholder="Seleccionar cliente" appendTo="body" styleClass="w-full">
                            </p-dropdown>
                        </div>

                        <div class="flex align-items-center gap-4">
                            <div class="flex align-items-center gap-2">
                                <input type="color" [(ngModel)]="nuevoProyecto.color"
                                    style="border: 0.5px solid var(--surface-border); width: 32px; height: 32px; cursor: pointer; border-radius: 6px;" />
                                <label class="text-sm text-color-secondary">Color del proyecto</label>
                            </div>
                            <div class="flex align-items-center gap-2">
                                <p-checkbox [(ngModel)]="nuevoProyecto.publico" binary="true"
                                    inputId="publico"></p-checkbox>
                                <label for="publico" class="text-sm text-color-secondary cursor-pointer">Público</label>
                            </div>
                        </div>

                        <button pButton label="Crear proyecto" class="p-button-info w-full" (click)="guardarProyecto()">
                        </button>
                    </div>
                </div>
                <div *ngIf="mostrarLista">
                    <div class="m-2  surface-border border-round overflow-hidden">
                        <div class="p-3 bg-white">
                            <div class="flex align-items-center gap-2">
                                <div
                                    class="flex-1 flex align-items-center border-1 surface-border border-round px-2 bg-white">
                                    <i class="pi pi-search text-400 mx-2"></i>
                                    <input type="text" pInputText placeholder="Buscar por nombre"
                                        [(ngModel)]="filtroNombre" (input)="aplicarFiltros()"
                                        class="border-none shadow-none py-2 text-sm w-full">
                                </div>
                                <button pButton icon="pi pi-plus" label="Crear"
                                    class="boton-personalizado px-3 py-2 m-3 font-bold" *ngIf="canCreate$ | async"
                                    (click)="abrirModalNuevoProyecto()" style="border-radius: 4px;">
                                </button>
                            </div>
                        </div>
                        <div class="surface-0 border-y-1 surface-border">

                            <div class="flex flex-column align-items-stretch w-full md:flex-row align-items-stretch">

                                <div class="flex align-items-center px-4 border-right-1 surface-border bg-gray-50"
                                    style="border-right-style: dashed !important; min-width: 120px;">
                                    <span class="text-500 font-bold text-xs uppercase">Filtrar</span>
                                </div>

                                <div class="flex-1 flex align-items-center border-right-1 surface-border md:border-bottom-none surface-border filtro-item"
                                    style="border-right-style: dashed !important;">
                                    <p-dropdown [options]="opcionesEstado" [(ngModel)]="filtroEstado"
                                        (onChange)="aplicarFiltros()" placeholder="Estado" appendTo="body"
                                        [style]="{'border':'none', 'background':'transparent', 'width':'100%', 'color':'#334155', 'font-weight':'700'}"
                                        class="w-full">
                                    </p-dropdown>
                                </div>

                                <div class="flex-1 flex align-items-center border-right-1 border-bottom-1 md:border-bottom-none surface-border filtro-item"
                                    style="border-right-style: dashed !important;">
                                    <p-dropdown [options]="clientes" optionLabel="nombre" [(ngModel)]="filtroCliente"
                                        [showClear]="true" (onChange)="aplicarFiltros()" placeholder="Cliente"
                                        appendTo="body"
                                        [style]="{'border':'none', 'background':'transparent', 'width':'100%', 'color':'#334155', 'font-weight':'700'}"
                                        class="w-full"></p-dropdown>
                                </div>

                                <div class="flex-1 flex align-items-center filtro-item">
                                    <p-dropdown [options]="opcionesAcceso" [(ngModel)]="filtroAcceso"
                                        (onChange)="aplicarFiltros()" placeholder="Acceso" appendTo="body"
                                        [style]="{'border':'none', 'background':'transparent', 'width':'100%', 'color':'#334155', 'font-weight':'700'}"
                                        class="w-full"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div
                            class="surface-100 p-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
                            <span class="text-xs font-bold text-500 ml-2 uppercase">Proyectos</span>
                            <p-button styleClass="bg-green-700 border-green-500 text-white p-button-sm 
                            hover:bg-green-700 h9over:border-green-600" label="Exportar" icon="pi pi-file-excel"
                                (onClick)="exportar()">
                            </p-button>
                        </div>

                        <div class="overflow-x-auto">
                            <p-table #dt [value]="proyectosFiltrados" class="p-datatable-sm"
                                [style]="{'min-width': '850px'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3rem"
                                            class="text-center bg-white border-bottom-1 surface-border">
                                            <p-checkbox [binary]="true"></p-checkbox>
                                        </th>
                                        <th style="width: 20%"
                                            class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                                            Nombre</th>
                                        <th style="width: 15%"
                                            class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                                            Cliente</th>
                                        <th style="width: 15%"
                                            class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                                            T. Registrado</th>
                                        <th style="width: 10%"
                                            class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                                            Progreso</th>
                                        <ng-container *ngIf="canfavorito$ | async">
                                            <th style="width: 7%"
                                                class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                                                Favorito</th>
                                        </ng-container>
                                        <th style="width: 10%"
                                            class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                                            Acceso</th>
                                        <th style="width: 12%"
                                            class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                                            FCreación</th>
                                        <th class="bg-white border-bottom-1 surface-border" style="width: 17%"></th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-proyecto>
                                    <tr class="hover:surface-50">
                                        <td class="text-center border-none">
                                            <p-checkbox [binary]="true"></p-checkbox>
                                        </td>

                                        <td class="border-none">
                                            <div class="flex align-items-center">
                                                <div [style.background]="proyecto.color"
                                                    style="width:10px; height:10px; margin-right: 10px; border-radius:50%; flex-shrink: 0;">
                                                </div>
                                                <input *ngIf="proyectoEditandoId === proyecto.id" pInputText
                                                    [(ngModel)]="editBuffer.nombre" class="text-sm py-1 px-2 w-full" />
                                                <span *ngIf="proyectoEditandoId !== proyecto.id"
                                                    class="text-700 font-medium">{{proyecto.nombre}}</span>
                                            </div>
                                        </td>

                                        <td class="border-none">
                                            <p-dropdown *ngIf="proyectoEditandoId === proyecto.id" [options]="clientes"
                                                optionLabel="nombre" [(ngModel)]="editBuffer.cliente"
                                                placeholder="Cliente" appendTo="body"
                                                [style]="{'font-size':'0.85rem', 'width':'140px'}"></p-dropdown>
                                            <span *ngIf="proyectoEditandoId !== proyecto.id"
                                                class="text-700 font-medium">
                                                {{ getNombreCliente(proyecto.clienteId) }}
                                            </span>
                                        </td>

                                        <td class="border-none">
                                            <span class="text-700 font-medium text-xs">
                                                {{ getTiempoProyecto(proyecto.id!) }}
                                            </span>
                                        </td>

                                        <td class="border-none">
                                            <input *ngIf="proyectoEditandoId === proyecto.id" pInputText type="number"
                                                [(ngModel)]="editBuffer.progreso" min="0" max="100"
                                                class="text-sm py-1 px-2 w-4rem" />
                                            <span *ngIf="proyectoEditandoId !== proyecto.id"
                                                class="text-700 font-medium">
                                                {{ proyecto.progreso }}%
                                            </span>
                                        </td>
                                        <ng-container *ngIf="canfavorito$ | async">
                                            <td class="border-none">
                                            <p-button
                                                [icon]="esFavorito(proyecto.id) ? 'pi pi-star-fill' : 'pi pi-star'"
                                                [text]="true"
                                                [severity]="esFavorito(proyecto.id) ? 'warn' : 'secondary'"
                                                (onClick)="toggleFavorito(proyecto.id)">
                                            </p-button>
                                        </td>
                                        </ng-container>
                                        <td class="border-none">
                                            <span class="text-700 font-medium text-xs">
                                                {{ proyecto.publico ? 'Público' : 'Privado' }}
                                            </span>
                                        </td>
                                        <td class="border-none">
                                            <span class="text-700 font-medium text-xs">
                                                {{ proyecto.fcreacion | date:'dd/MM/yyyy' }}
                                            </span>
                                        </td>

                                        <td class="border-none text-right">
                                            <ng-container *ngIf="proyectoEditandoId !== proyecto.id; else modoEdicion">
                                                <button pButton icon="pi pi-pencil"
                                                    class="p-button-text p-button-secondary"
                                                    (click)="iniciarEdicion(proyecto)" pTooltip="Editar">
                                                </button>

                                                <button pButton
                                                    [icon]="proyecto.activo ? 'pi pi-folder' : 'pi pi-refresh'"
                                                    [ngClass]="proyecto.activo ? 'p-button-text p-button-danger' : 'p-button-text p-button-primary'"
                                                    (click)="proyecto.activo ? archivarRegistro(proyecto) : activarRegistro(proyecto)"
                                                    [pTooltip]="proyecto.activo ? 'Archivar' : 'Activar'">
                                                </button>
                                            </ng-container>

                                            <ng-template #modoEdicion>
                                                <button pButton icon="pi pi-check"
                                                    class="p-button-text p-button-success"
                                                    (click)="guardarEdicion(proyecto)" pTooltip="Guardar"></button>
                                                <button pButton icon="pi pi-times"
                                                    class="p-button-text p-button-secondary" (click)="cancelarEdicion()"
                                                    pTooltip="Cancelar"></button>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>

<p-dialog header="Crear nuevo Proyecto" [(visible)]="mostrarModalProyecto" [modal]="true" [style]="{ width: '450px' }"
    [draggable]="false" [resizable]="false">
    <div class="flex flex-column gap-3 mt-2">
        <input pInputText placeholder="Introduce el nombre de Proyecto" [(ngModel)]="nuevoProyecto.nombre"
            class="w-full" />
        <p-dropdown [options]="clientes" optionLabel="nombre" [(ngModel)]="nuevoProyecto.cliente"
            placeholder="Seleccionar cliente" appendTo="body" styleClass="w-full"></p-dropdown>
        <div class="flex align-items-center gap-4">
            <div class="flex align-items-center gap-2">
                <input type="color" [(ngModel)]="nuevoProyecto.color"
                    style="border:none; width:40px; height:40px; cursor:pointer" />
                <label class="text-sm">Color del proyecto</label>
            </div>
            <div class="flex align-items-center gap-2">
                <p-checkbox [(ngModel)]="nuevoProyecto.publico" binary="true"></p-checkbox>
                <label class="text-sm">Público</label>
            </div>
        </div>

    </div>
    <ng-template pTemplate="footer">
        <button pButton label="Cancelar" class="p-button-text p-button-secondary"
            (click)="mostrarModalProyecto = false"></button>
        <button pButton label="Crear" class="p-button-info" (click)="guardarProyecto()"></button>
    </ng-template>
</p-dialog>