:host {
    display: block;
    width: 100%;
}

.card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

/* Esto obliga a que si el menú lo empuja, el contenido interno se ajuste */
.grid {
    margin: 0 !important;
}

/* En proyectos.component.css */
.grid.formgrid {
    border-bottom: 1px solid #e4e7eb;
}

:host ::ng-deep .p-dropdown {
    border: none !important;
    /* Quita el borde de los dropdowns para que parezcan links */
}

:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
}

/* Estilo unificado para los botones de texto y dropdowns */
.filtro-boton,
.filtro-texto ::ng-deep .p-dropdown-label {
    font-family: 'Inter', sans-serif !important;
    /* O la fuente que uses en tu proyecto */
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #5c6b7a !important;
    /* El color gris azulado de la imagen */
    padding-left: 0.5rem !important;
}

/* Quitar efectos de hover de PrimeNG que cambian el fondo */
.filtro-boton:hover {
    background: transparent !important;
    color: #00a1f1 !important;
    /* Cambia a azul al pasar el mouse como en la original */
}

/* Ajuste específico para el icono del dropdown */
.filtro-texto ::ng-deep .p-dropdown-trigger {
    color: #5c6b7a !important;
}

/* Quitar bordes y sombras al hacer clic */
:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
}

/* UNIFICACIÓN DE FUENTES Y COLOR NEGRO EN FILTROS */
.filtro-item-btn {
    color: #000000 !important;
    /* Negro puro */
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 0.5rem 0.7rem !important;
    text-decoration: none !important;
}

.filtro-item ::ng-deep .p-dropdown-label {
    color: #000000 !important;
    /* Negro puro */
    font-size: 14px !important;
    font-weight: 600 !important;
}

/* QUITAR BORDES AZULES Y SOMBRAS */
:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus,
:host ::ng-deep .p-inputtext:enabled:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.border-none {
    border: none !important;
}

/* EFECTO HOVER PARA BOTONES DE FILTRO */
.filtro-item-btn:hover {
    background: rgba(0, 0, 0, 0.04) !important;
}

.color-swatch {
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
}

.color-swatch:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}

.color-trigger:hover {
    filter: brightness(0.9);
}

    .grid-filtros{
        display: flex;
        flex-direction: row;
    }

/* agregado para responsividad */
@media (max-width: 430px) {
    .contenedor-filtros span {
        display: none;
    }

    .grid-filtros {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .item-filtro {
        display: none;
    }
}