<p-toast position="top-right" [baseZIndex]="9999"
  [preventOpenDuplicates]="true" />
<div class="etiquetas-pagina">
  <div class="etiquetas-panel">
    <h2 class="titulo-seccion">Etiquetas</h2>

    <div class="etiquetas-contenido">

      <p-card styleClass="card-tabla-estandar">

        <div class="contenedor-vacio" *ngIf="!mostrarLista">
          <h1 class="titulo-principal">
            Organiza tus entradas con etiquetas
          </h1>
          <p class="subtitulo">
            Usa etiquetas para añadir información adicional a las entradas de tiempo y obtener más información sobre los
            datos con informes.
          </p>
          <div class="grupo-input">
            <input type="text" pInputText [(ngModel)]="nuevaEtiquetaNombre" placeholder="Añadir nueva etiqueta"
              class="input-personalizado" (keyup.enter)="agregarEtiqueta()" />
            <button pButton type="button" label="Añadir" class="boton-personalizado" (click)="agregarEtiqueta()">
            </button>
          </div>
        </div>

        <div *ngIf="mostrarLista">
          <div class="barra-herramientas">
            <div class="busqueda-filtros">
              <p-dropdown [options]="opcionesFiltro" [(ngModel)]="filtroSeleccionado" (onChange)="filtrarClientes()"
                placeholder="Mostrar activo">
              </p-dropdown>

              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText [(ngModel)]="textoBusqueda" (input)="filtrarEtiquetas()"
                  placeholder="Buscar por nombre" class="input-busqueda" />
              </span>
            </div>

            <div class="grupo-input">
              <input type="text" pInputText [(ngModel)]="nuevaEtiquetaNombre" placeholder="Añadir nueva etiqueta"
                class="input-personalizado" (keyup.enter)="agregarEtiqueta()" />
              <button pButton type="button" label="Añadir" class="boton-personalizado" (click)="agregarEtiqueta()">
              </button>
            </div>
          </div>
          <div class="surface-100 p-2 flex justify-content-between align-items-center border-bottom-1 surface-border">
            <span class="text-xs font-bold text-500 ml-2 uppercase">Etiquetas</span>
            <p-button styleClass="bg-green-700 border-green-500 text-white p-button-sm 
                            hover:bg-green-700 h9over:border-green-600" label="Exportar" icon="pi pi-file-excel"
              (onClick)="exportar()">
            </p-button>
          </div>
          <p-table styleClass="sin-padding" #dt [value]="etiquetasFiltrados" [scrollable]="true" scrollHeight="450px"
            class="tabla-personalizada">

            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5%"  class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                  <p-checkbox [binary]="true"></p-checkbox>
                </th>
                <th style="width: 75%"  class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border" >NOMBRE</th>
                <th style="width: 20%"  class="bg-white text-500 font-bold text-xs uppercase border-bottom-1 surface-border">
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-etiqueta>
              <tr>
                <td>
                  <p-checkbox [binary]="true"></p-checkbox>
                </td>
                <!-- Modo visualización -->
                <td *ngIf="etiquetaEnEdicion?.id !== etiqueta.id">
                  {{ etiqueta.nombre }}
                </td>
                <!-- Modo edición inline -->
                <td *ngIf="etiquetaEnEdicion?.id === etiqueta.id">
                  <input type="text" pInputText [(ngModel)]="etiquetaEnEdicion!.nombre" (keyup.enter)="guardarEdicion()"
                    (keyup.escape)="cancelarEdicion()" class="input-personalizado" />
                </td>

                <td class="acciones-celda text-right">

                  <!-- Acciones en modo visualización -->
                  <ng-container *ngIf="etiquetaEnEdicion?.id !== etiqueta.id">
                    <button pButton icon="pi pi-pencil" class="p-button-text p-button-secondary"
                      (click)="editarEtiqueta(etiqueta)">
                    </button>
                    <button pButton icon="pi pi-trash" class="p-button-text p-button-danger"
                      (click)="eliminarEtiqueta(etiqueta.id)">
                    </button>
                  </ng-container>

                  <!-- Acciones en modo edición -->
                  <ng-container *ngIf="etiquetaEnEdicion?.id === etiqueta.id">
                    <button pButton icon="pi pi-check" class="p-button-text p-button-success"
                      (click)="guardarEdicion()">
                    </button>
                    <button pButton icon="pi pi-times" class="p-button-text p-button-secondary"
                      (click)="cancelarEdicion()">
                    </button>
                  </ng-container>

                </td>
              </tr>
            </ng-template>

          </p-table>
        </div>

      </p-card>
    </div>
  </div>
</div>