<div class="layout-topbar" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <div class="left-section" style="display: flex; align-items: center; gap: 10px;">
        <button #menubutton class="p-link layout-menu-button layout-topbar-button"
            (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <p-splitButton [appendTo]="'body'"  label="Clockify" (onClick)="espaciostrabajo()" [model]="proyectos" size="lg" text>
            <ng-template pTemplate="content">
                <span class="flex align-items-center font-bold" class="text-primary-600">
                    <span>Clockify</span>
                </span>
            </ng-template>
        </p-splitButton>
    </div>

    <div class="right-section" style="display: flex; align-items: center; gap: 10px; margin-left: auto;">
        <button class="p-link layout-topbar-button layout-topbar-profile-mobile" (click)="op.toggle($event)">
            <i class="pi pi-user"></i>
        </button>
    </div>

    <p-overlayPanel #op [showCloseIcon]="false" styleClass="border-round-xl">
        <div class="flex flex-column align-items-center">
            <div class="flex align-items-center justify-content-center w-5rem h-5rem border-circle surface-200 ">
                <i class="pi pi-user text-5xl"></i>
            </div>
            <div>
                <div class="text-2xl font-medium">{{nombre}}</div>
            </div>
        </div>
        <div class="border-top-1 surface-border my-2"></div>
        <p-button severity="danger" label="Cerrar Sesión" icon="pi pi-sign-out" (click)="cerrarSesion()"
            styleClass="w-full border-round-lg">
        </p-button>
    </p-overlayPanel>
</div>